html{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
*{
    border: 0;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #007aff;
    --light-blue: #ebf3fe;
}
body{
    /* background-color: bisque; */
}
/* NAV */
nav{
    height: 3.5rem;
    padding: 2rem 2rem;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
}
div.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a.nav-button{
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 8rem;
    height: 3rem;
    margin: 0 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;

    text-decoration: none;
    box-sizing: border-box;
}
a#startForFree{
    color: white;
    background-color: var(--blue);
}
a#startForFree:hover{
    color: var(--blue);
    background-color: white;
}
a#logIn:hover{
    color: white;
    background-color: var(--blue);

}
/* MAIN */
main{
    text-align: center;
}
h1.title{
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
}
p.description{
    font-weight: 600;
    margin: 2rem;
}
/* Blue Input Div */
div.upload-section {
    background-color: var(--light-blue);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
}

div.inputFileButtonDiv {
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
}

label.custom-file-upload {
    width: 60%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 0.4rem;
    padding: 0rem 1rem;

    text-align: start;
    overflow: hidden;
    /* font-size: 0.5rem; */
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    span.fileSpan{
        text-wrap: nowrap;
        overflow: hidden;
    }
    span.ufs.material-symbols-outlined {
        font-variation-settings: 
            'FILL' 1;
    }
}


button.custom-file-upload {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 1rem;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 0.4rem;
    margin-left: 1px;
    cursor: pointer;
    span.anal.material-symbols-outlined {
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
    }
    
}


p.inputType {
    display: block;
    width: 90%;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    color: grey;
}
