html{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width: 1200px) {
    html{
        font-size: 12px;
    }
}
@media only screen and (max-width: 700px) {
    html{
        font-size: 10px;
    }
}
*{
    border: 0;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #007aff;
    --light-blue: #ebf3fe;
}
/* NAV */
nav{
    height: 3.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
}
@media only screen and (max-width: 450px) {
    nav{
        height: 5rem;
        padding: 2rem 2rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #logo{
        max-height: 4rem;
        margin: 0rem 2rem 1rem 2rem ;
    }
}
div.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a.nav-button{
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 8rem;
    height: 3rem;
    margin: 0 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;

    text-decoration: none;
    box-sizing: border-box;
}
a#startForFree{
    color: white;
    background-color: var(--blue);
}
a#startForFree:hover{
    color: var(--blue);
    background-color: white;
}
a#logIn:hover{
    color: white;
    background-color: var(--blue);

}
/* MAIN */
main{
    text-align: center;
}

h1.title{
    margin: 5rem auto 3rem auto;
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 90%;
}
@media only screen and (max-width: 450px) {
    h1.title{
        font-size: 2rem;
        margin: 3rem  auto;
    }
}
p.description{
    font-weight: 600;
    margin: 2rem;
}
/* Blue Input Div */
div.upload-section {
    background-color: var(--light-blue);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 1rem;
}
@media only screen and (max-width: 800px) {
    div.upload-section {
        width: 80%;
    }
}
div.inputFileButtonDiv {
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    div.inputFileButtonDiv {
        width: 80%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
label.custom-file-upload {
    width: 60%;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
    border-radius: 0.4rem;
    padding: 0rem 1rem;

    text-align: start;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    span.fileSpan{
        text-wrap: nowrap;
        overflow: hidden;
    }
    span.ufs.material-symbols-outlined {
        font-variation-settings: 
            'FILL' 1;
    }
}


button.custom-file-upload {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 0.4rem;
    margin-left: 1px;
    cursor: pointer;
    span.anal.material-symbols-outlined {
        font-size: 1.5rem;
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
    }
    
}


p.inputType {
    display: block;
    width: 90%;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    color: grey;
}
/* Between Section  */
p.inBetweenP{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 1rem auto;
}
@media only screen and (max-width: 500px) {
    p.inBetweenP{
        width: 80%;
    }
}
p.learnMoreP{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 3rem auto;
    color: var(--blue);
    a.learn-more{
        color: var(--blue);
    }
}
/* cardsAndText SECTION*/
section.cardsAndText{
    display: flex;
    width: 70%;
    gap: 2rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
    section.cardsAndText{
        width: 80%;
    }
}
@media only screen and (max-width: 700px) {
    section.cardsAndText{
        display: block;
    }
}
div.leftText{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
    text-align: left; 
}
@media only screen and (max-width: 700px) {
    div.leftText{
        width: 90%;
        margin: 0 auto;
    }
}
div.rightCards{
    background-color: #f7f7f7;
    width: 60%;
    padding: 1rem 0;
}
@media only screen and (max-width: 700px) {
    div.rightCards{
        width: 100%;
        margin: 0 auto;

    }
}
div.greySwitchCard{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #e6e6e6;
    border-radius: 3rem;
    aspect-ratio: 1 / 1 ;
    width: 40%;
    margin: 2rem auto;
}
@media only screen and (max-width: 700px) {
    div.greySwitchCard{
        width: 70%;
    }
}
.greySwitchCard img{
    width: 80%;
    height: auto;
    border-radius: 2rem;

}
p.cardDescription{
    width: 80%;
    margin: 1rem auto;
}
div.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
p.card{
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    border-radius: 0.3rem;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    span.card.material-symbols-outlined{
        margin-right: 0.5rem;
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
    }
}
p.card.selected{
    color: var(--blue);
    border: 2px solid var(--blue);
}
p.card:hover{
    color: #888;
    border: 2px solid #888;
}
/* FOOTER */
footer{
    margin: 1.5rem 0;
}
div.footerBlueDiv{
    background-color: var(--light-blue);
    width: 70%;
    margin: 3rem auto;
    border-radius: 1rem;
    padding: 1rem;
}
div.footerBlueDiv p{
    margin: 1rem;
}
div.footerBlueDiv button{
    margin: 1rem;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    margin: 1rem auto;
    color: white;
    background-color: var(--blue);
    border-radius: 0.4rem;
    padding: 0.7rem 2rem;
    cursor: pointer;
    span.anal.material-symbols-outlined {
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
        margin-right: 0.5rem;
    font-size: 1.5rem;

    }
}