html {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    height: 100%;
}
button{
    font-family: "League Spartan", sans-serif;

}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 700px) {
    html {
        font-size: 12px;
    }
}

* {
    border: 0;
    margin: 0;
    padding: 0;
}

:root {
    --blue: #007aff;
    --light-blue: #ebf3fe;
}
body {
    position: relative;
}

.container {
    position: relative;

}
/* NAV */
nav {
    position: relative;
    z-index: 1;
    height: 3.5rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 450px) {
    nav {
        height: 5rem;
        justify-content: center;
        flex-wrap: wrap;
    }
    #logo {
        max-height: 4rem;
        margin: 0 2rem 1rem;
    }
}

div.buttons {
    display: flex;
    align-items: center;
}

a.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 0 0.5rem;
    padding: 0rem 2rem;
    border: 1px solid var(--blue);
    border-radius: 2rem;
    text-decoration: none;
    box-sizing: border-box;
}
a#logIn{
    color: var(--blue);
}
a#startForFree {
    color: white;
    background-color: var(--blue);
}

a#startForFree:hover {
    color: var(--blue);
    background-color: white;
}

a#logIn:hover {
    color: white;
    background-color: var(--blue);
}

/* MAIN */
main {
    position: relative;
    z-index: 1; /* Main content should have a higher z-index */
    text-align: center;
    overflow: hidden;
}

#lopLeftGradient {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    background: radial-gradient(rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: 2 !important;
    width: 50%;
    aspect-ratio: 1/1;

    pointer-events: none;
}

img#soc-med1, img#soc-med2 {
    position: absolute;
    top: 4rem;
    opacity: 0.5;
    width: 25%;
    height: auto;
    z-index: -1; 
    pointer-events: none;
}

img#soc-med1 {
    left: 0;
}

img#soc-med2 {
    right: 0;
}

div#midRightGradient {
    position: absolute;
    transform: translate(50%, -15%);
    background: radial-gradient(rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: -1;
    width: 100%;
    height: 100%;
}

h1.title {
    margin: 5rem auto 3rem;
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 90%;
}

@media only screen and (max-width: 450px) {
    h1.title {
        font-size: 2rem;
        margin: 3rem auto;
    }
}

p.description {
    font-weight: 500;
    margin: 3rem;
}

/* UPLOAD SECTION */
div.upload-section {
    background: linear-gradient(90deg, rgba(8, 111, 255, 0.4), rgba(53, 129, 250, 0.4), rgba(111, 181, 255, 0.4));
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    margin: 0 auto;
    border-radius: 1.5rem;
}

@media only screen and (max-width: 800px) {
    div.upload-section {
        width: 80%;
    }
}

div.inputFileButtonDiv {
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    div.inputFileButtonDiv {
        width: 80%;
    }
}

label.custom-file-upload {
    width: 70%;
    height: 100%;
    border: 1px dotted black;
    border-radius: 1rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

label.custom-file-upload span.ufs.material-symbols-outlined {
    margin-right: 1rem;
    color: grey;
    font-variation-settings: 'FILL' 1;
}

button.custom-file-upload {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 1rem;
    margin-left: 1px;
    cursor: pointer;
    font-size: 1rem;

}

button.custom-file-upload span.anal.material-symbols-outlined {
    font-size: 1.5rem;
    font-variation-settings: 'FILL' 0, 'wght' 300;
    margin-right: 0.5rem;
}

p.inputType {
    display: block;
    width: 90%;
    margin-top: 1rem;
    font-size: 0.9rem;
    color: grey;
}

/* BETWEEN SECTIONS */
p.inBetweenP {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}

@media only screen and (max-width: 500px) {
    p.inBetweenP {
        width: 80%;
    }
}

p.learnMoreP {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 3rem;
    color: var(--blue);
}

p.learnMoreP a.learn-more {
    color: var(--blue);
    text-decoration: none;
}

/* CARDS AND TEXT SECTION */
section.cardsAndText {
    display: flex;
    width: 70%;
    gap: 2rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
    section.cardsAndText {
        width: 85%;
    }
}

@media only screen and (max-width: 700px) {
    section.cardsAndText {
        display: block;
    }
}

div.leftText {
    display: flex;
    flex-direction: column;
    background-color: #E5E7F04D;
    padding: 1rem;
    gap: 1rem;
    width: 40%;
    text-align: left;
    border-radius: 1rem;
}

@media only screen and (max-width: 700px) {
    div.leftText {
        width: 90%;
        margin: 0 auto;
    }
}
h1#identify{
    font-size: 1.7rem;
    font-weight: 600;
    width: 70%;
}

span#high-performing {
    background: linear-gradient(90deg, #2569C8, #3581FA, #FFBBB7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

div.rightCards {
    width: 60%;
    padding: 1rem 0;
}

@media only screen and (max-width: 700px) {
    div.rightCards {
        width: 100%;
        margin: 0 auto;
    }
}

img.grayCardPhoto {
    max-width: 60%;
    opacity: 1; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth fade-in and fade-out effect */
}

.greySwitchCard img {
    width: 80%;
    height: auto;
    border-radius: 2rem;
}

p.cardDescription {
    width: 75%;
    min-height: 3.5rem;
    margin: 1rem auto;
}

div.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media only screen and (max-width: 700px) {
    div.cardContainer {
        gap: 0.5rem;
        padding: 0.5rem;
    }
}
p.card {
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color 0.3s ease, border 0.3s ease; /* Add transition for color and border */
}

p.card.selected {
    color: var(--blue);
    border: 2px solid var(--blue);
}

p.card:hover {
    color: #888;
    border: 2px solid #888;
}


/* FINISH SECTION */
section.finish {
    margin: 16rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

h1.finish {
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;

}

button.finish {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0 auto;
    background-color: var(--blue);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-family: "League Spartan", sans-serif;

}
button.finish span {
    font-size: 1.3rem;
    font-variation-settings: 'FILL' 0, 'wght' 300;
}


div.finish {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

p.finish {
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    gap: 0.5rem;
}

/* FOOTER */
footer {
    margin: 1.5rem 0;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
}

footer p span#lock {
    color: green;
    margin-right: 1rem;
}

/* GRADIENT SECTION */
div#bottomLeftGradient {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    background: radial-gradient(rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: 0;
    width: 100%;
    height: 50vh;
    pointer-events: none;
}

