html{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    height: 100%;
}
@media only screen and (max-width: 1200px) {
    html{
        font-size: 14px;
    }
}
@media only screen and (max-width: 700px) {
    html{
        font-size: 12px;
    }
}
*{
    border: 0;
    margin: 0;
    padding: 0;
}
:root {
    --blue: #007aff;
    --light-blue: #ebf3fe;
}
/* NAV */
nav {
    height: 3.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;  /* Higher z-index to place it above the gradient */
    background-color: rgba(255, 255, 255, 0.8);  /* Slightly transparent background to distinguish it from the gradient */
}
@media only screen and (max-width: 450px) {
    nav{
        height: 5rem;
        padding: 2rem 2rem;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #logo{
        max-height: 4rem;
        margin: 0rem 2rem 1rem 2rem ;
    }
}
div.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
}
a.nav-button{
    display: flex;
    justify-content: center; 
    align-items: center;

    width: 8rem;
    height: 3rem;
    margin: 0 0.5rem;
    border: 1px solid var(--blue);
    border-radius: 0.5rem;

    text-decoration: none;
    box-sizing: border-box;
}
a#startForFree{
    color: white;
    background-color: var(--blue);
}
a#startForFree:hover{
    color: var(--blue);
    background-color: white;
}
a#logIn:hover{
    color: white;
    background-color: var(--blue);

}
/* MAIN */

main{
    text-align: center;
}
#lopLeftGradient {
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    content: '';
    background: rgb(59,133,251);
    background: radial-gradient(rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: 0; 
    width: 100%;
    height: 100%;
}
img#soc-med1{
    position: absolute;
    top: 10rem;
    left: 0;
}
img#soc-med2{
    position: absolute;
    top: 10rem;
    right: 0;
}
div#midRightGradient{
    position: absolute;
    transform: translate(50%,0%);
    content: '';
    background: rgb(59,133,251);
    background: radial-gradient( rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: -1;
    width: 100%;
    height: 100%;
    /* border: 3px solid black; */
}
h1.title{
    margin: 5rem auto 3rem auto;
    font-size: 2.5rem;
    font-weight: 600;
    max-width: 90%;
}
@media only screen and (max-width: 450px) {
    h1.title{
        font-size: 2rem;
        margin: 3rem  auto;
    }
}
p.description{
    font-weight: 600;
    margin: 2rem;
}
/* Blue Input Div */
div.upload-section {
    background: linear-gradient(90deg, rgba(8, 111, 255, 0.4), rgba(53, 129, 250, 0.4), rgba(111, 181, 255, 0.4));
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin: 0 auto;
    border-radius: 1.5rem;
}
@media only screen and (max-width: 800px) {
    div.upload-section {
        width: 80%;
    }
}
div.inputFileButtonDiv {
    width: 60%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 450px) {
    div.inputFileButtonDiv {
        width: 80%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
label.custom-file-upload {
    width: 70%;
    height: 100%;
    border: 1px dotted black;
    box-sizing: border-box;
    border-radius: 1rem;
    padding: 0rem 1rem;

    text-align: start;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: white;
    span.fileSpan{
        text-wrap: nowrap;
        overflow: hidden;
    }
    span.ufs.material-symbols-outlined {
        margin-right: 1rem;
        color: grey;
        font-variation-settings: 
            'FILL' 1;
    }
}


button.custom-file-upload {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 1rem;
    margin-left: 1px;
    cursor: pointer;
    span.anal.material-symbols-outlined {
        font-size: 1.5rem;
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
    }
    
}


p.inputType {
    display: block;
    width: 90%;
    margin: 1rem 0 0 0;
    font-size: 0.9rem;
    color: grey;
}
/* Between Section  */
p.inBetweenP{
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 3rem auto;
}
@media only screen and (max-width: 500px) {
    p.inBetweenP{
        width: 80%;
    }
}
p.learnMoreP{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto 3rem auto;
    color: var(--blue);
    a.learn-more{
        color: var(--blue);
    }
}
/* cardsAndText SECTION*/
section.cardsAndText{
    display: flex;
    width: 70%;
    gap: 2rem;
    margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
    section.cardsAndText{
        width: 85%;
    }
}
@media only screen and (max-width: 700px) {
    section.cardsAndText{
        display: block;
    }
}
div.leftText{
    display: flex;
    flex-direction: column;
    background-color: #E5E7F04D;
    padding: 1rem;
    gap: 1rem;
    width: 40%;
    text-align: left; 
}
@media only screen and (max-width: 700px) {
    div.leftText{
        width: 90%;
        margin: 0 auto;
    }
}
span#high-performing{
    background: linear-gradient(90deg, #2569C8, #3581FA, #FFBBB7);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: bold;
}
div.rightCards{
    width: 60%;
    padding: 1rem 0;
}
@media only screen and (max-width: 700px) {
    div.rightCards{
        width: 100%;
        margin: 0 auto;

    }
}
img.grayCardPhoto{
    max-width: 60%;
}

.greySwitchCard img{
    width: 80%;
    height: auto;
    border-radius: 2rem;
}
p.cardDescription{
    width: 80%;
    margin: 1rem auto;
}
div.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}
@media only screen and (max-width: 700px) {
    div.cardContainer{
        gap: 0.5rem;
        padding: 0.5rem;
    }
}
p.card{
    color: #c0c0c0;
    border: 2px solid #c0c0c0;
    border-radius: 0.3rem;
    text-wrap: nowrap;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
    span.card.material-symbols-outlined{
        margin-right: 0.5rem;
        font-variation-settings: 
            'FILL' 1,
            'wght' 200;
    }
}
p.card.selected{
    color: var(--blue);
    border: 2px solid var(--blue);
}
p.card:hover{
    color: #888;
    border: 2px solid #888;
}
/* Section FINISH */
section.finish{
margin: 16rem;
display: flex;
gap: 2rem;
flex-direction: column;
}
h1.finish{
    font-size: 2.5rem;
}
button.finish{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: var(--blue);
    padding: 0.8rem 1.2rem;
    border-radius: 1rem;
    cursor: pointer;
    color: white;
}
div.finish{
    width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
p.finish{
    display: flex;
    align-items: center;
}

body {
    position: relative; /* Make the body the reference point for absolute positioning */
}

/* FOOTER */
footer{
    margin: 1.5rem 0;
}
footer p{
    display: flex;
    align-items: center;
    color: grey;
    justify-content: center;
    span#lock{
        color: green;
        margin-right: 1rem;
    }
}
.container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}
nav {
    height: 3.5rem;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0.8);
}
main {
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
div#bottomLeftGradient {
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(-50%, 50%);
    content: '';
    background: rgb(59,133,251);
    background: radial-gradient(rgba(59,133,251,0.3) 0%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
    z-index: 0; 
    width: 100%;
    height: 50vh;
    pointer-events: none;
}

footer {
    position: relative;
    margin: 1.5rem 0;
    z-index: 2;
}